.center_align {
  text-align: center; }

@font-face {
  font-family: "retro1";
  src: url("../fonts/ponde___.ttf"); }
@font-face {
  font-family: "retro2";
  src: url("../fonts/webpixel bitmap_regular.otf"); }
h1, h2 {
  color: #fff; }

h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px; }

.links {
  color: #4c0c81; }

.links:hover {
  color: #fff; }

.links:visited {
  color: #e91e63; }

.fa-bars {
  color: #fff; }

.menu {
  color: #fff; }

#animation .fab {
  padding: 0px 9px; }

.container {
  width: 100%;
  margin: 0px; }

#nav_emp_sec {
  width: 100%;
  height: 72px; }

nav {
  width: 100%;
  background-color: #4c0c81;
  font-family: retro1;
  position: fixed;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  z-index: 1;
  border-bottom: 2px solid white; }

ul {
  width: 70%;
  margin: 0 auto;
  padding: 20px auto;
  text-align: right; }

ul li {
  list-style: none;
  display: inline-block;
  padding: 30px; }

ul li:hover {
  background: #e91e63;
  font-size: 20px;
  /* padding-right: 20px; */ }

ul li a {
  color: #fff;
  text-decoration: none; }

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none; }

.gif_Box {
  width: 100%;
  height: 800px;
  background-image: url("../imgs/logo.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px -8px; }

#description_positioning {
  width: 48%;
  height: 300px;
  /* border: white solid 3px; */
  margin-top: 480px;
  text-align: center;
  position: absolute; }

h1 {
  font-family: retro1;
  font-size: 60px; }

h2 {
  font-family: retro2;
  font-size: 45px;
  margin-top: -40px; }

.about {
  text-align: center;
  background-color: black;
  width: 100%;
  color: #fff;
  margin-top: -5px;
  margin-bottom: 0;
  margin: 0;
  margin-left: -8px;
  padding: 10;
  font-size: 24px; }

h3 {
  font-size: 36px;
  font-family: retro2; }

#attach {
  margin: 0;
  padding: 0; }

#aboutPara {
  text-align: justify; }

.about_info {
  padding-left: 30px;
  padding-right: 30px; }

/* ============ Info grid | Start ============== */
.grid_item {
  background-color: #4c0c81;
  border: #fff solid 1px;
  color: #fff;
  padding: 10px;
  margin: 20px;
  border-radius: 6px; }

#education {
  grid-row: 1 / 3; }

#contact {
  grid-column: 1 / 3; }

/* ============ Nested grid 1 info grid  | Start ============== */
#info_grid {
  display: grid;
  grid-template-columns: 25% 33% 42%;
  grid-gap: .2em;
  /* |||||Indicator||||| */
  Height: auto; }

.info_grid_item1 {
  border-right: #fff solid 1px;
  padding-right: 10px; }

.info_grid_item2 {
  border-right: #fff solid 1px;
  margin-left: 10px; }

.info_grid_item3 {
  margin-left: 10px; }

.img_frame {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: black;
  color: black;
  margin-right: 0px; }

/* Experience grid*/
#info_grid2 {
  display: grid;
  grid-template-columns: 25% 33% 42%;
  grid-gap: .2em;
  /* |||||Indicator||||| */ }

.info_grid2_item1 {
  border-right: #fff solid 1px;
  padding-right: 10px; }

.info_grid2_item2 {
  border-right: #fff solid 1px;
  margin-left: 10px; }

.info_grid2_item3 {
  margin-left: 10px; }

#exp_grid {
  height: auto;
  /* Change later */ }

/* ============ Nested grid 1 info grid  | END ============== */
/* ============ Info grid | END ============== */
* {
  box-sizing: border-box; }

main {
  margin-left: -0.5%;
  width: 100%;
  background-color: white; }

body {
  width: 100%;
  font-family: 'Quicksand', sans-serif; }

/* ======== Responsiveness Nav bar | STARTS =========*/
@media (min-width: 780px) {
  nav {
    height: 80px; } }
/* Media query on ul postioning */
@media (min-width: 780px) {
  ul {
    width: 90%;
    margin: 0px;
    padding: 0px;
    padding: 20px;
    margin-right: 20px; }

  ul li {
    padding: 17px; } }
@media only screen and (max-width: 780px) {
  .toggle {
    display: block; }

  ul {
    width: 100%;
    display: none; }

  ul li {
    display: block;
    text-align: center; }

  .active {
    display: block; }

  #content_grid {
    display: block; } }
/* ======== Responsiveness Nav bar | ENDS =========*/
/* Media qurie for tablet and moble view */
/* On h1 & h2 */
@media (max-width: 780px) {
  #position3 {
    display: none; }

  /* =========================== Mobile view ============================== */
  #nav_emp_sec {
    width: 100%;
    height: 45px; }

  ul {
    text-align: center;
    padding: 0; } }
/* End of tablet and moble views*/
/* On h1 & h2 */
/* ============== MAIN RESPONSIVENESS FOR ALL DEVICES || START =============== */
@media screen and (max-width: 1024px) {
  #description_positioning {
    padding-top: 200px; }

  h1 {
    font-family: retro1;
    font-size: 60px; }

  h2 {
    font-family: retro2;
    font-size: 40px;
    margin-top: -40px; }

  .gif_Box {
    width: 100%;
    height: 600px; }

  #description_positioning {
    height: 300px;
    margin-top: 300px;
    padding: 0;
    width: 50%; } }
@media screen and (max-width: 950px) {
  h1 {
    font-family: retro1;
    font-size: 50px; }

  h2 {
    font-family: retro2;
    font-size: 35px;
    margin-top: -40px; }

  .gif_Box {
    width: 100%;
    height: 600px; }

  #description_positioning {
    height: 250px;
    margin-top: 350px;
    padding: 0;
    width: 50%; } }
@media screen and (max-width: 780px) {
  h1 {
    font-family: retro1;
    font-size: 45px; }

  h2 {
    font-family: retro2;
    font-size: 30px;
    /* margin-top: -40px; */ }

  #description_positioning {
    height: 220px;
    margin-top: 380px;
    padding: 0;
    width: 50%; } }
@media screen and (max-width: 650px) {
  h1 {
    font-family: retro1;
    font-size: 45px; }

  h2 {
    font-family: retro2;
    font-size: 30px;
    margin-top: -40px; }

  .gif_Box {
    width: 100%;
    height: 400px; }

  #description_positioning {
    height: 150px;
    margin-top: 220px;
    padding: 0;
    width: 50%; } }
@media screen and (max-width: 480px) {
  h1 {
    font-family: retro1;
    font-size: 18px; }

  h2 {
    font-family: retro2;
    font-size: 15px;
    margin-top: 0px; }

  .gif_Box {
    width: 100%;
    height: 200px; }

  #description_positioning {
    height: 100px;
    margin-top: 100px;
    padding: 0;
    width: 50%; } }
/* ============== MAIN RESPONSIVENESS FOR ALL DEVICES || END  =============== */
/* ============ Grid media queries | STARTS ============ */
@media (min-width: 780px) {
  #content_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: black;
    width: 98%;
    margin: 1%;
    border-radius: 6px; } }
/* ============ Grid media queries | ENDS ============ */

/*# sourceMappingURL=main.css.map */
