main {
margin-left: -0.5%;
width: 100%;
background-color: white;
}
#content_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.12em;
    background-color: black;
    width: 98%;
    margin: 1%;
    border-radius: 6px;
}
.grid_item {
    background-color: rgb(76, 12, 129);
    border: white solid 1px;
    color: white;
    padding: 10px;    
    margin: 20px;
    border-radius: 6px;
}
.center_align {
    text-align: center;
}
#education {
    grid-row: 1 / 3;
}
#contact {
    grid-column: 1 / 3;
}

/* ============ Nested grid 1 info grid  | Start ============== */
#info_grid {
    display: grid;
    grid-template-columns: 25% 33% 42% ;
    grid-gap: .2em;
    /* |||||Indicator||||| */
    Height: 100px;
}
.info_grid_item1 {
    border-right: white solid 1px;
}
.info_grid_item2 {
    border-right: white solid 1px;
}
#img_frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}