@font-face {
    font-family: "retro1";
    src: url("fonts/ponde___.ttf");
}
@font-face {
    font-family: "retro2";
    src: url("fonts/webpixel bitmap_regular.otf");
}
#nav_sec {
    display: grid;    
    width: 100%;
    height: 70px;
    margin: 0;
    margin-left: -8px;
    margin-top: -8px;
    background-color:  rgb(76, 12, 129);
    font-family: retro2;
    grid-template-columns: 4fr 4fr ;
    position: fixed;
}
/* .align_right {
    
} */
li {
    float: left;
    list-style-type: none;
    padding-right:  20px;
    color: azure;
    font-size: 30px;
}
li:hover {

    font-size: 40px;
}

  #nav_emp_sec {
      width: 100%;
      height: 70px;
  }
.gif_Box {
    width: 100%;
    height: 600px;
    background-image: url("imgs/logo.gif"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
h1, h2 {
    color: white;
}
h1 {
    font-family: retro1;
    font-size: 70px;
    position: absolute; 
    top: 410px;
    left: 40px;
    width: 60%;
}
h2 {
    font-family: retro2;
    font-size: 45px;
    position: absolute;
    top: 470px;
    left: 120px;
    width: 40%;
}
#postion3 {
    position: absolute;
    top: 560px;
    left: 160px;
    width: 20%;
}

.fa {
    color : rgb(76, 12, 129);
  }
  .fa:hover {
      color: white;
  }
  .about {
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    width: 100%;
    color: white;
    margin-top: -5px;
    Margin-bottom: 0;
    margin: 0;
    padding: 0;
}
#attach {
    font-family: retro2;
    font-size: 30px;
    margin: 0;
    padding: 0;
}