* {
    box-sizing: border-box;
}
html {
    margin-bottom: 0;
    padding-bottom: 0;
}
main {
width: 100%;
background-color: black;
}
body{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    margin: 0px;
}


