table {
    // border: solid green 1px;
    width: 100%;
    td {
        // border: solid white 1px;
        border-collapse: collapse;
        margin: 0;
    }
    .col1 {
        width: 35%;
        // border: white solid 1px; 
        padding-left: 10px;

    }
    .col2 {
        width: 65%;
        padding-left: 10px;
        // border: white solid 1px; 
    }
}