/* ============ Info grid | Start ============== */
.grid_item {
    background-color: rgb(76, 12, 129);
    border: white solid 1px;
    color: white;
    padding: 10px;    
    margin: 20px;
    border-radius: 6px;
}

#education {
    grid-row: 1 / 3;
}
#contact {
    grid-column: 1 / 3;
}

