/* ======== Responsiveness Nav bar | STARTS =========*/
@media (min-width: 780px){
    nav {
        height: 80px;
    }
}


/* Media query on ul postioning */
@media (min-width: 780px){
    ul{
        width: 90%;
        margin: 0px;
        padding: 0px;
        padding: 20px;
        margin-right: 20px;
    }
    ul li {
        padding: 17px;
    }
}

@media only screen and (max-width: 780px){
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
        display: none;
    }
    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
    #content_grid {
        display: block;
    }
    // .fa {
    //     color: $themeWhite;
    // }

}


/* ======== Responsiveness Nav bar | ENDS =========*/
// HEADER | START

/* Media qurie for tablet and moble view */
/* On h1 & h2 */
@media (max-width: 780px){
    #position3{
        display: none;
    }
    /* =========================== Mobile view ============================== */

    #nav_emp_sec {
        width: 100%;
        height: 45px;
    }
    ul {
        text-align: center;
        padding: 0;
    }
}

/* End of tablet and moble views*/
/* On h1 & h2 */
// HEADER | END 

// ========== DESCRIPTION POSITIONING | START ===========>
/* ============== MAIN RESPONSIVENESS FOR ALL DEVICES || START =============== */
@media screen and (max-width: 1024px) {
    #description_positioning {
        padding-top: 200px;
    }
    h1 {
        font-family: retro1;
        font-size: 60px;
    }
    h2 {
        font-family: retro2;
        font-size: 40px;
        margin-top: -40px;
    }
    .gif_Box {
        width: 100%;
        height: 600px;
    }
    #description_positioning {
        height: 300px;
        margin-top: 300px;
        padding: 0;
        width: 50%;
    }
    
}

@media screen and (max-width: 950px) {
    h1 {
        font-family: retro1;
        font-size: 50px;
    }
    h2 {
        font-family: retro2;
        font-size: 35px;
        margin-top: -40px;
    }
    .gif_Box {
        width: 100%;
        height: 600px;
    }
    #description_positioning {
        height: 250px;
        margin-top: 350px;
        padding: 0;
        width: 50%;
    }
}
@media screen and (max-width: 780px) {
    h1 {
        font-family: retro1;
        font-size: 45px;
    }
    h2 {
        font-family: retro2;
        font-size: 30px;
        /* margin-top: -40px; */
    }
    #description_positioning {
        height: 220px;
        margin-top: 380px;
        padding: 0;
        width: 50%;
    }
    #about {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-family: retro1;
        font-size: 45px;
    }
    h2 {
        font-family: retro2;
        font-size: 30px;
        margin-top: -40px;
    }
    .gif_Box {
        width: 100%;
        height: 400px;
    }
    #description_positioning {
        height: 150px;
        margin-top: 220px;
        padding: 0;
        width: 50%;
    }
    #about {
        font-size: 18px;
    }

}

@media screen and (max-width: 480px) {
    h1 {
        font-family: retro1;
        font-size: 18px;
    }
    h2 {
        font-family: retro2;
        font-size: 15px;
        margin-top: 0px;
    }
    .gif_Box {
        width: 100%;
        height: 200px;
        
    }
    #description_positioning {
        height: 100px;
        margin-top: 100px;
        padding: 0;
        width: 50%;
    }
    #about {
        font-size: 14px;
    }
}
/* ============== MAIN RESPONSIVENESS FOR ALL DEVICES || END  =============== */
// <========= DESCRIPTION POSITIONING | END ==========

/* ============ Grid media queries | STARTS ============ */
@media(min-width: 780px){
    #content_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        background-color: black;
        width: 98%;
        margin: 1%;
        border-radius: 6px;
        // flex-shrink: 1fr;
    }
    // .img_frame {
    //     width: 1fr;
    //     height: 10em;
    //     border-radius: 50%;
    //     background-color: black;
    // }

}

/* ============ Grid media queries | ENDS ============ */
/* ============= Info section Responsiveness | Start =========== */
@media(max-width: 480px) {   
    #info_grid {
        font-size: 14px;
    }
}
/* ============= Info section Responsiveness | Start =========== */


/* ========== Portfolio section Media Queries | START ============= */
@media (max-width: 780px) {
    #port_grid {
        display: grid;
        grid-template-columns: 1fr;
    }   
}
@media (max-width: 480px) {
    .port_grid_item {
        height: 160px;   
    }
    .info_grid_item2 {
        margin-left: 2px;
        padding-bottom: 18px;
    }
}
/* ========== Portfolio section Media Queries | End ============= */

/* ========== Contact grid section Media Q | START =========== */
    @media (max-width: 780px){
        #contact_grid {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
        }
        .contact_grid_item1 {
            border-bottom: solid white 1px;
            border-right: none;
            margin: 0px;
            width: 100%;
        } 
         #contact_nested_grid {
            display: grid;
            grid-template-columns: 100%;
            text-align: center;
        }
    }

      

/* ========== Contact grid section Media Q | END =========== */

/* ========== Footer Section Responsiveness | START ========== */
@media (max-width: 780px) {

    #footer_flex {
        display: flex;
        flex-wrap: wrap;
        h5 {
            text-align: center;
        }
    }    
    .footer_flex_item1, .footer_flex_item2 {
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}
/* ========== Footer Section Responsiveness | END ========== */
