/* ======== Responsiveness Nav bar | STARTS =========*/
@media (min-width: 780px){
    nav {
        height: 80px;
    }
}


/* Media query on ul postioning */
@media (min-width: 780px){
    ul{
        width: 90%;
        margin: 0px;
        padding: 0px;
        padding: 20px;
        margin-right: 20px;
    }
    ul li {
        padding: 17px;
    }
}

@media only screen and (max-width: 780px){
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
        display: none;
    }
    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
    #content_grid {
        display: block;
    }

}


/* ======== Responsiveness Nav bar | ENDS =========*/

/* ============ Grid media queries | STARTS ============ */
@media(min-width: 780px){
    #content_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.12em;
        background-color: black;
        width: 98%;
        margin: 1%;
        border-radius: 6px;
        flex-shrink: 1fr;
    }
    .img_frame {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        background-color: black;
    }

}

/* ============ Grid media queries | ENDS ============ */