$themePurple: rgb(76, 12, 129);
$themeRed: #e91e63;
$themeWhite: #fff;

.center_align {
    text-align: center;
}
@font-face {
    font-family: "retro1";
    src: url("../fonts/ponde___.ttf");
}
@font-face {
    font-family: "retro2";
    src: url("../fonts/webpixel bitmap_regular.otf");
}


h1, h2 {
    color: $themeWhite;
}
h5 {
    font-family: 'Quicksand', sans-serif ; 
    font-size: 22px;
}

// FA FA ICONS COLORS |  Start
.links {
    color: $themePurple;
  }
.links:hover {
      color: $themeWhite;
  }
.links:visited {
    color : $themeRed;
  }
.fa-bars {
    color: $themeWhite;
}
// #animation {
//     color: $themeWhite;
// }
// FA FA ICONS COLORS | END

// .h5 {
//     font-family: retro1;
//     font-size: 2.5em;
// }
// .a, .b, .c, .d, .e, .f {
//     font-size: 60px;
//     color: $themeWhite;
// }
.menu {
    color: $themeWhite;
}
#animation {
    .fab {
        padding:  0px 9px;
    }
}