.center_align {
    text-align: center;
}
@font-face {
    font-family: "retro1";
    src: url("../fonts/ponde___.ttf");
}
@font-face {
    font-family: "retro2";
    src: url("../fonts/webpixel bitmap_regular.otf");
}
