$themePurple: rgb(76, 12, 129);
$themeRed: #e91e63;
$themeWhite: #fff;

.center_align {
    text-align: center;
}
@font-face {
    font-family: "retro1";
    src: url("../fonts/ponde___.ttf");
}
@font-face {
    font-family: "retro2";
    src: url("../fonts/webpixel bitmap_regular.otf");
}


h1, h2 {
    color: $themeWhite;
}
h4 {
    font-family: 'Quicksand', sans-serif ; 
    font-size: 30px;
}

// FA FA ICONS COLORS |  Start
.fa {
    color: $themePurple;
  }
.fa:hover {
      color: $themeWhite;
  }
.fa:visited {
    color : $themeRed;
  }
.fa-bars {
    color: $themeWhite;
}

// FA FA ICONS COLORS | END

// .h5 {
//     font-family: retro1;
//     font-size: 2.5em;
// }